extends layout

block content
    head
        // Game Javascript
        script(src="https://code.jquery.com/jquery-1.10.2.min.js")
        script(src='/javascripts/game.js')
        script(src="socket.io/socket.io.js")
        link(rel='stylesheet', href='/stylesheets/style.css')
    .container
        input.userName(type="hidden" value=user)
        input#room(type="hidden")

        div.roomName
            h1#roomNameTitle
        

        div.roomPage
            h1.roomTitle
            h3.timer

        .loading
            .dizzy-gillespie


        div.answersPage
            h1.questionTitle

        div.reviewAnswers


        div.answerQuestion
            h1.chosenQuestion
            .row
                .col-lg-8.col-lg-offset-4
                    .input-group
                        input.myAnswer.form-control(type="text" placeholder="Answer")
                        span.input.group-btn
                            button.btn.btn-success#sendMyAnswer Send My Answer

        div.chooseQuestions
            
            
        div.startPage 
            h2.float-left Join Existing Game
            h5.startError
            div.row
                .col-lg-6.col-lg-offset-3
                    .input-group
                        input.room.form-control#joinRoomText(type="text" placeholder="Enter Existing Room Name")
                        span.input-group-btn
                            button.room.btn.btn-primary#joinRoomButton Join Existing Room
            h2.float-left Or Create a New Game
            div.row
                .col-lg-6.col-lg-offset-3
                    button.room.btn.btn-primary#newGameButton Create New Game
            div.rooms
        
        div.createRoomPage
            h1 Create a New Game
            h5.createRoomError
            div.row
                div.formGroup.input-group
                    span.input-group-addon Game Room Name
                    //label.newName Game Room Name
                    input.form-control#newNameText(type='text', placeholder='Game Name')
            div.row
                div.formGroup.input-group
                    span.input-group-addon Number of Players
                    //label.newPlayers Number of Players
                    input.form-control#newPlayersText(type='number', placeholder='Number of Players')
            div.row
                div.formGroup.input-group
                    span.input-group-addon Number of Rounds
                    //label.newRounds Number of Rounds
                    input.form-control#newRoundsText(type='number', placeholder='Number of Rounds')
            //- div.row
            //-     div.formGroup.input-group
            //-         div.categories
            //-             label Category:
            //-             input.form-control.btn.btn-default#allCategories(type='checkbox', name='category', value='All')
            //-             label All
            //-             input.form-control.btn.btn-default#definitions(type='checkbox', name='category', value='Definitions' checked)
            //-             label Definitions
            //-             input.form-control.btn.btn-default#famousPeople(type='checkbox', name='category' value='Famous People')
            //-             label Famous People
            //-             input.form-control#acronyms(type='checkbox', name='category' value='Acronyms')
            //-             label Acronyms
            //-             input.form-control#movieHeadlines(type='checkbox', name='category' value='Movie Headlines')
            //-             label Movie Headlines
            //-             input.form-control#ludicrousLaws(type='checkbox', name='category' value='Ludicrous Laws')
            //-             label Ludicrous Laws
            
            .panel.panel-default
                .panel-heading Select Categories for your Game
                ul.list-group
                    li.list-group-item
                        | All
                        .pull-right.material-switch
                            input#allCategories(name='category', type='checkbox', value='All' checked)
                            label.label-success(for='allCategories')
                    li.list-group-item
                        | Definitions
                        .pull-right.material-switch
                            input#definitions(name='category', type='checkbox', value='Definitions')
                            label.label-success(for='definitions')
                    li.list-group-item
                        | Famous People
                        .pull-right.material-switch
                            input#famousPeople(name='category', type='checkbox', value='Famous People')
                            label.label-success(for='famousPeople')
                    li.list-group-item
                        | Acronyms
                        .pull-right.material-switch
                            input#acronyms(name='category', type='checkbox', value='Acronyms')
                            label.label-success(for='acronyms')
                    li.list-group-item
                        | Movie Headlines
                        .pull-right.material-switch
                            input#movieHeadlines(name='category', type='checkbox', value='Movie Headlines')
                            label.label-success(for='movieHeadlines')
                    li.list-group-item
                        | Ludicrous Laws
                        .pull-right.material-switch
                            input#ludicrousLaws(name='category', type='checkbox', value='Ludicrous Laws')
                            label.label-success(for='ludicrousLaws')
            div.formGroup
                button.room.btn.btn-primary#newRoomButton Create New Game

        div.endGame
            //h1(style="position:absolute; top:120px; left:525px") Game Ended!!

            //img(style="position:absolute; top:200px; right:610px" src="C:\Users\Owner\CS3750Project3\bin\thWCCKGJ8R.jpg")

            h2.gameWinner

            div.finalScores
                

            //h2(style="position:absolute; top: 450px; right: 600px") Who guessed who's answers
            //div.answerGuessed(style="position:absolute; top:510px; right: 720px; width:150px; height:300; border:3px solid green;")
                

            
            //h2(style="position:absolute; top: 200px; right: 100px") Number of correct answers
            //div.correctGuess(style="position:absolute; top:40px; right: 100px; width:150px; height:300; border:3px solid green;")
                


            button.btn.btn-danger#restartGame(type= 'submit') Restart Game

            
        

        include ./includes/messages.pug

