body {
  padding: 50px;
  font: 14px "Arial Black", Helvetica, Arial, sans-serif;
  background-image: url("../stylesheets/images/background1.jpg");
  background-size: cover;
  background-origin: content-box; 

}

a {
  color: white;
}

/*.container{
  color: black;
}*/

/*form{
    width: max-content;
    border-color: steelblue;
    border-width: 10px;
    border-style: outset;
    padding: 50px;
    margin: auto;
    border-radius: 8px;
    background-image: url("../stylesheets/images/background2.jpg");*/
    
}

.container h1{
    text-align: center;
    text-decoration: underline;
    padding-bottom: 10px;
}

.container{
    width: max-content;
    border-color: steelblue;
    border-width: 10px;
    border-style: outset;
    padding: 50px;
    margin: auto;
    border-radius: 8px;
    text-align: center;
    background-image: url("../stylesheets/images/white.jpg");
}
.finalScores{
    border-color: steelblue;
}

/*.startPage{
    width: max-content;
    border-color: steelblue;
    border-width: 10px;
    border-style: outset;
    padding: 50px;
    margin: auto;
    border-radius: 8px;
    text-align: center;
}

.startPage h1{
    text-align: center;
    text-decoration: underline;
    padding-bottom: 10px;
}

.createRoomPage{
    width: max-content;
    border-color: steelblue;
    border-width: 10px;
    border-style: outset;
    padding: 50px;
    margin: auto;
    border-radius: 8px;
    text-align: center;
}

.room{
    width: max-content;
    border-color: steelblue;
    border-width: 10px;
    border-style: outset;
    padding: 50px;
    margin: auto;
    border-radius: 8px;
    text-align: center;
}

div.roomPage{
    width: max-content;
    border-color: steelblue;
    border-width: 10px;
    border-style: outset;
    padding: 50px;
    margin: auto;
    border-radius: 8px;
    text-align: center;
}

div.answerPage{
    width: max-content;
    border-color: steelblue;
    border-width: 10px;
    border-style: outset;
    padding: 50px;
    margin: auto;
    border-radius: 8px;
    text-align: center;
}*/

.login {
    color: green;
}

.logout {
    color: red;
}

#messages{
    padding: 10px;
}

#messages ul{
    margin: 0;
    padding: 0;
}

#messages li{
    list-style: none;
    padding: 10px
}

#messages .success{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    border-radius: 4px;
    text-align: center;
}

#messages .success_msg{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    border-radius: 4px;
    text-align: center;
}

#messages .error_msg, .error{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    border-radius: 4px;
    text-align: center;
}
footer.page-footer {
    margin: 0;
}


.loading {
    margin-right:auto;
    margin-left:auto;
}
.dizzy-gillespie {
    margin-right:auto;
    margin-left:auto;
  filter: saturate(3);
  width: 0.1px;
  height: 0.1px;
  border: 40px solid transparent;
  border-radius: 5px;
  animation: loader 3s ease-in infinite, spin 1s linear infinite;
}
.dizzy-gillespie::before {
  filter: saturate(0.3);
  display: block;
  position: absolute;
  z-index: -1;
  margin-left: -40px;
  margin-top: -40px;
  content:'';
  height:0.1;
  width:0.1;
  border: 40px solid transparent;
  border-radius: 5px;
  animation: loader 2s ease-in infinite reverse, spin 0.8s linear infinite reverse;
}
.dizzy-gillespie::after {
  display: block;
  position: absolute;
  z-index: 2;
  margin-left: -10px;
  margin-top: -10px;
  content:'';
  height:20px;
  width:20px;
  border-radius: 20px;
  background-color: white;
}
@keyframes loader {
  0% {border-bottom-color:transparent;border-top-color:#114357}
  25% {border-left-color:transparent;border-right-color: #826C75}
  50% {border-top-color:transparent;border-bottom-color: #F29492}
  75% {border-right-color:transparent;border-left-color: #826C75}
  100% {border-bottom-color:transparent;border-top-color:#114357}
}
@keyframes spin {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(-360deg)}
}
